.page-login {
    .ant-card {
        border-color: #d0d0d0;
    }
    .ant-card-head {
        background: linear-gradient(180deg,#e5e5e5,#d0d0d0);
        border-bottom: 1px solid #a9a9a9;
    }
    .ant-card-body {
        background: #EEECED;
        margin-top: 1px;
    }
    .main {
        margin: 100px auto 10px;
        width: 400px;
        max-width: 100%;
        .form {
            .form-row {
                margin-bottom: 10px;
            }
        }
    }
}