.app-sidebar {
    background: #e8e8e8;
    border-right: 1px solid #d0d0d0;
    width: 160px;
    height: calc(100vh - 40px);
    transition: width 0.3s;
    overflow: hidden;
    flex-shrink: 0;
    position: relative;
    &[data-is-collapsed="true"] {
        width: 0;
    }
    .sidebar-menu-group-title {
        padding: 5px 10px;
        color: #444;
        font-size: 12px;
        font-weight: bold;
        cursor: default;
    }
    .sidebar-menu {
        a {
            width: 160px;
            color: #444;
            padding: 5px 20px;
            font-size: 14px;
            display: block;
            &.active {
                background: #d0d0d0;
            }
        }
    }
    .login-info {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        font-size: 12px;
        padding: 10px;
        p {
            margin-bottom: 5px;
        }
        .logout {
            i {
                float: right;
                font-size: 14px;
                cursor: pointer;
            }
        }
        .repo-url {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
}